{% extends "shared/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        #dashboard_main{
            display: flex;
            padding: 50px;
            gap: 20px;
            height: 50vh;
        }

        nav{
            display: flex;
            flex-direction: column;
        }
    </style>

    <div id="dashboard_main">
        <nav>
            <button v-for="navigation in navigations" @click="navigation.callback()">{{ '{{ navigation.name }}' }}</button>
        </nav>
        <div>
            <div>{{ '{{ content.title }}' }}</div>
            <dynamic-component :template="content.template" :data-obj="content.data"></dynamic-component>
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="/static/dashboard/main.js"></script>

    {% if registered == 'ADMIN' %}
        <script src="/static/dashboard/admin.js"></script>
    {% endif %}
    
    <script src="/static/dashboard/user.js"></script>
{% endblock %}