<div>
    {% if not registered %}
        <h2>Login</h2>
        <div>
            <div>{{ '{{ v_login }}' }}</div>

            <label>Email:</label>
            <input type="text" v-model="v_login.email">
            <br><br>

            <label>Password:</label>
            <input type="password" v-model="v_login.password" required>

            <br><br>
            <button @click="f_login">Login</button>
        </div>
        <br><br><br><br><br>

        <h2>Sign Up</h2>
        <div>
            <div>{{ '{{ v_signup }}' }}</div>
            
            <label>Username:</label>
            <input type="text" v-model="v_signup.username" required>
            <br><br>

            <label>Email:</label>
            <input type="text" v-model="v_signup.email" required>
            <br><br>
            
            <label>Password:</label>
            <input type="password" v-model="v_signup.password" required>
            <br><br>
            
            <button @click="f_signup">Signup</button>
        </div>
    {% else %}
        <button @click="f_logout" class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-md text-sm font-medium transition duration-200 flex items-center space-x-2">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </button>
    {% endif %}
</div>