<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Base{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header id="base">
        <h1>{{ self.title() }}</h1>

        <div>{{ '{{ v_info }}' }}</div>
        
        <br>
        
        <!-- Auth -->
        {% include "shared/auth.html" %}
    </header>

    <script src="/static/shared/base.js"></script>
    
    <main>
        {% block content %}
        <!-- Konten halaman -->
        {% endblock %}
    </main>

    {% block script %}{% endblock %}

    <footer>
        <p>© 2025 My Website</p>
    </footer>
</body>
</html>